header {
<<<<<<< HEAD
    background-color: red;
    height: 70px;
    width: 100%;
}
=======
            background-color: #ff0000;
            height: 70px;
            width: 100%;
        }
>>>>>>> 2be4ac4d8b56032ccfc2f10669a60cc98e74fee3
